
<div class="chat-main">
  <div class="container">
    <div class = "bmi-title"><h1>BMI計算</h1><div>
<%= form_with(model: @profile, url: user_profiles_path(current_user), local: true) do |form| %>

  <div class="form-group">
    <%= form.label :height, "身長 (cm)", class: "form-label" %>
    <%= form.number_field :height, step: :any, placeholder: "身長を入力", required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :weight, "体重 (kg)", class: "form-label" %>
    <%= form.number_field :weight, step: :any, placeholder: "体重を入力", required: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= submit_tag "BMIを計算", class: "btn btn-primary" %>
  </div>
 </div>
<% end %>

</div>
