
<div class="contents row">
    <div class ="login-containe">
      
     <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
     <%= render 'devise/shared/error_messages',model: @user %>
     <div class= "login-title">
     <h1>Sign up</h1>
     </div>


    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, maxlength: "6" %>
      </div>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>






