<div class="contents row">
  <div class="login-container">
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new-user', data: { turbo: false } do |f| %>
      <div class="login-title">
        <h1>Sign up</h1>
      </div>
      <%= render 'devise/shared/error_messages', model: @user %>


      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, maxlength: "20", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
