
<div class = weit_warppoer>
<h1 class="form-title">体重を記録する</h1>
<div class = "weight-chat-main">
<%= form_with model: @weight, local: true, data: { turbo: true }, class: "weight-form" do |form| %>
  <div class="form-group">
    <%= form.label :date, "日付", class: "weight-form-label" %>
    <%= form.date_field :date, class: "weight-form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :weight, "体重 (kg)", class: "weight-form-label" %>
    <%= form.number_field :weight, step: 0.1, class: "weight-form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "記録する", class: "btn btn-primary" %>
  </div>

  </div>
<% end %>
</div>
