<h1>体重を記録する</h1>

<%= form_with model: @weight, local: true do |form| %>
  <div>
    <%= form.label :date, "日付" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :weight, "体重 (kg)" %>
    <%= form.number_field :weight, step: 0.1 %>
  </div>

  <div>
    <%= form.submit "記録する" %>
  </div>
<% end %>
