<div class="first-view">
    <div class="menu-content">
      <h2 class="heading-name">Let' start!</h2>

      <%= link_to "投稿する", new_log_path, class: "post" %>

       <%= link_to "記録する", new_weight_path(current_user), class: "post" %>
       <%= link_to "記録を見る",weights_path(current_user), class: "post" %>
      <%= link_to "BMI計算", new_user_profile_path(current_user), class: "post"if current_user.present?  %>
 <%= month_calendar(class: "custom-calendar") do |date| %>
       <div class="date">
        <%= date.day %>
         <% @logs&.each do |log| %>
           <% if log.date == date %>
            <div class="log-entry">
             <%= link_to log.name, log_path(log), class: "post" %>
           </div>
          <% end %>
         <% end %>
        </div>
      <% end %>
    </div>
</div>
