


<div class="chat-main">
  <div class="container">
      <h1> Do it！</h1>
  <%= form_with model: @log, url:logs_path, id: 'new_user', class: 'new_user', local: true, data: { turbo: false } do |form| %>

  <% if @log.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(@log.errors.count, "error") %>が発生しました:</h2>
        <ul>
          <% @log.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>

        <% if flash[:alert] %>
           <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
      </div>
  <% end %>


  <div class="form-box">
    <div class="form-group">
      <%= form.label :date, "日付    (必須)", class: "form-label" %>
      <%= form.date_field :date, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :name, "運動名      (必須)", class: "form-label" %>
      <%= form.select :name,  [["ランニング", "ランニング"],["散歩", "散歩"], ["縄跳び", "縄跳び"], ["腹筋", "腹筋"], ["プランク", "プランク"],["その他", "その他"]], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :duration, "運動時間（分）      (必須)", class: "form-label" %>
      <%= form.number_field :duration, min: 0, placeholder: "例：30", class: "form-control" %>
    </div>
    <div class="form-group">
            <%= form.label :reps, "回数      (必須)", class: "form-label" %>
      <%= form.number_field :reps, min: 0, placeholder: "例：10", class: "form-control" %>

    </div>
    <div class="form-group">
     <%= form.label :memo, "メモ      (任意)", class: "form-label" %>
      <%= form.text_area :memo, rows: 3, placeholder: "記録したいこと", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.submit "記録する", class: "btn btn-primary" %>
    </div>
  </div>
  <div id="animation-area" style="display: none;">
      <img src="s0099_4_0.png" alt="お疲れさまでした！" class="animation-image">
    </div>
  <% end %>
  </div>
</div>
