

<div class="log-details">
  <div class = logs_warppoer>
  <h1 class="title-tpo">今日のトレーニング</h1>
  <dl class="log-list">
    <dt>日付</dt>
    <dd><%= @log.date %></dd>
    <dt>メニュー</dt>
    <dd><%= @log.name %></dd>
    <dt>時間</dt>
    <dd><%= @log.duration %> 分</dd>
    <dt>回数</dt>
    <dd><%= @log.reps %></dd>
    <dt>消費カロリー</dt>
    <dd><%= @log.calories_burned %>kcal</dd>
    <dt>メモ</dt>
    <dd><%= @log.memo %></dd>
  </dl>

  <div class="log-actions">
    <%= link_to "編集", edit_log_path(@log.id), method: :get, class: "item-red-btn" %>
    <%= link_to "削除", log_path(@log.id), data: { turbo_method: :delete }, class: "item-destroy" %>
    <%= link_to "戻る", logs_path, class: "item-back" %>
  </div>
</div>
</div>
