<!DOCTYPE html>
<html>
  <head>
    <title>MyStep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;900&display=swap" rel="stylesheet">

  </head>
  <body>
    <header class="header">
      <div class="header_bar grid-container">
        <h1 class="grid-item grid-6">
          <a href="/">MY Step</a>
        </h1>
        <nav class="nav grid-item grid-6">
          <% if user_signed_in? %>
          <div class="user-section">
          <div class="user_name">

                <%= current_user.name%>
                </div>

                <div class="auth_nav">
              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
            </div>
           </div>

          <% else %>
            <div class="auth_nav">
              <%= link_to "ログイン", new_user_session_path, class: "button post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "button post" %>
            </div>

          <% end %>
        </nav>
      </div>
    </header>

    <main class="content">
      <%= yield %>
        </main>

          <footer class="footer">
      <p class="footer-text">© 2024 MyStep</p>
    </footer>



  </body>
</html>
