<!DOCTYPE html>
<html>
  <head>
    <title>MyStep</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header class="header">
      <div class="header_bar grid-container">
        <h1 class="grid-item grid-6">
          <a href="/">MY Step</a>
        </h1>
        <nav class="nav grid-item grid-6">
          <% if user_signed_in? %>
            <div class="user_nav grid-item grid-6">
              <%#>=<div class ="user-name">
              <span><%= current_user.name %>
                <div class="auth_nav grid-item grid-6">


              <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: "button" %>
            </div>
          <% else %>
            <div class="auth_nav grid-item grid-6">
              <%= link_to "ログイン", new_user_session_path, class: "button post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "button post" %>
            </div>
          <% end %>
        </nav>
      </div>
    </header>

    <main class="content">
      <%= yield %>
    </main>
  </body>
</html>
